{% extends 'layout.html.twig' %}
{% import "_format.html.twig" as format %}

{% block content %}
<div>
    <table id="container_list" class="table table-hover table-bordered">
            <tr>
                <th>Name</th>
                <th>Port-Binding (Container => Host)</th>
                <th style="text-align:center">Status</th>
                <th></th>
            </tr>
            <tr ng-repeat="container in containers">
                <td>{{ '{{ container.name }}' }}</td>
                <td>
                    <ul>
                       <li ng-repeat="(portBindingName, portBindingData) in container.portBindings">
                           {{ '{{ portBindingName }}' }} => {{ '{{ portBindingData.0.HostIp }}' }}:{{ '{{ portBindingData.0.HostPort }}' }}
                       </li>
                    </ul>
                </td>
                <td>{{ '{{ container.state }}' }}</td>
                <td ng-switch on="container.state">
                    <button ng-click="stopContainer(container.id)" ng-switch-when="running" rel="{{ '{{ container.id }}' }}" type="button" class="btn btn-default glyphicon glyphicon-stop" title="Stop container"></button>
                    <button ng-click="startContainer(container.id)" ng-switch-when="stopped" rel="{{ '{{ container.id }}' }}" type="button" class="btn btn-default glyphicon glyphicon-play" title="Start container"></button>
                </td>
            </tr>
    </table>
</div>
{% endblock %}