{% extends 'layout.html.twig' %}
{% import "_format.html.twig" as format %}
{% set active_page = "container_list" %}

{% block content %}

<div class="table-responsive">
    <table id="container_list" class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Port-Binding (Container => Host)</th>
                <th>Exposed Port</th>
                <th>Image:Tag</th>
                <th>Command</th>
                <th style="text-align:center">Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for containerGroup, containers in containerGroups %}
                {% if containers|length > 1 %}
                <tr class="info">
                    <td colspan="7">
                        <span class="glyphicon glyphicon-folder-open"></span>
                        <span>{{ containerGroup }}</span>
                    </td>
                </tr>
                {% endif %}
            {% for container in containers %}
                <tr>
                    <td><a href="{{ url('container_details', {containerId:container.id}) }}">{{ container.id[0:12] }}</a></td>
                    <td>{{ format.containerName(container.name, config) }}</td>
                    <td>
                        {% for portBindingContainer, portBindingHost in container.runtimeInformations.HostConfig.PortBindings %}
                            {% if portBindingHost.0 is defined %}
                                {{ portBindingContainer }} => {{ portBindingHost.0.HostPort }}
                            {% endif %}
                        {% else %}
                        {% endfor %}
                    </td>
                    <td>
                        {% if container.runtimeInformations.Config.ExposedPorts is defined %}
                            {% for exposedPort in container.runtimeInformations.Config.ExposedPorts|keys %}
                                {{ exposedPort }}
                            {% else %}
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td>{{ container.config.Image }}</td>
                    <td>{{ container.config.Cmd.0 }}</td>
                    <td style="text-align:center">{{ format.status(container) }}</td>
                    <td style="text-align:center">{{ format.statusButton(container) }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td>
                    <strong>No containers found</strong>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

{% block body_end %}

    <script type="text/javascript">
        jQuery(document).ready(function() {

            var onClick = function() {
                jQuery.post(
                    '{{ app.url_generator.generate('toggle') }}',
                    { id: jQuery(this).attr('rel') },
                    function(data) {
                        if (data.success) {
                            // jQuery(this).attr('rel');
                            window.location.reload();
                        }
                    },
                    'json'
                )
            };

            jQuery('#container_list button').bind('click', onClick);


        });
    </script>

{% endblock %}
